<h2 class="mapheader">Click on a Pin to Watch Time-lapse Video of a City</h2>
<h3 class="mapheader mapsubheader">{{area}}</h3>
<p class="mapheader mapsubheader">Use the controls in the top left corner to navigate the map</p>
{{#if area}}
<div id="map" style="width: 100%;height: 600px"></div>
{{else}}
<div id="mapdiv"></div>
{{/if}}