

<h3 class="mapheader">Click on a Pin to Watch Timelapse Video of a City</h3>
<p class="mapheader mapsubheadersmall">Use the controls in the top left corner to navigate the map</p>
<div id="map" style="width: 100%;height: 500px"></div>
<h3 class="popular">Popular Timelapse Videos</h3>
<div id="popular"><ul class="thumbnails"></ul></div>


