extends layout

block content
	div#TL.container
		.navbar
			.navbar-inner
				#clouds.pull-left
					img(src='/images/clouds.gif', width="720", height="42", alt="Clouds image	")
				ul.nav.pull-right
					li
						a(href='http://www.facebook.com/UrbanTimelapse')
							img.facebookIcon(src='/images/facebook.png', width='20', height='20', alt='Facebook Icon')
							| Like
					li
						a(href='#') Create Account
							
							
							
							
		#header
			.row
				.span5
					h1
						a(href='/')
							img(src='images/Logo.gif', width='325', height='112', alt='UrbanTimelapse. Discover the world City by City', title='Click to return to  UrbanTimelapse homepage')
				.cta-btns.span6.pull-right
					a#share.pull-right.btn.btn-large.btn-success(href='search.html') Share Time-lapse Video
					a.pull-right.btn.btn-large.btn-primary(href='/explore', title='exploremap') Explore the World
		ul.nav.nav-tabs
			.skyLine
				img(src='images/SkyLine1.png', width='778', height='34', alt='SkyLine1')
			li.nav
				a(href='/about') About
			li.nav
					a(href='/tutorials') Tutorials
					
					
					
		#content			
			h2 Watch Our Featured Time-lapse Video
			.videoWrapper
				iframe(src='http://player.vimeo.com/video/51569901', width='100%', height='auto', frameborder='0', webkitallowfullscreen='webkitAllowFullScreen', mozallowfullscreen='mozallowfullscreen', allowfullscreen='allowFullScreen')
			h3 San Francisco,USA (Empty america)
			h4 Population: 812,826. Age: 236 years old.
			p
			| Filmmaker Ross Ching created this eerie time-lapse of San Francisco in which all the city’s streets, bridges, and sidewalks are completely empty. The
			| effect was achieved not by shutting down San Francisco’s streets, but by clever digital trickery (see the how-to video below). The time-lapse is the
			| first in Ching’s “Empty America” series—he plans to create more empty city time-lapes in cities around the country. The time-lapse series is inspired by
			| the 2009 photo series “Empty L. A.” by Matt Logue.
					
			h3.popular Popular Time-lapse Videos
					
					
			
			#popular
				ul.thumbnails

					
		.banner-footer.row
			.footer-btns
				a(href='/explore', title='Explore the World')
					button.span4.btn.btn-large.btn-primary.first-btn.exploreIcon
						img(src='images/explore.png', width='64', height='64', alt='Explore')
						div.footer-btntext
						| Explore the World
				a#share(href='home/share_form')
					button.span4.btn.btn-large.btn-success.second-btn.shareIcon
						img(src='images/share.png', width='64', height='64', alt='Share')
						div.footer-btntext
						| Share Time-lapse
				a(href='/tutorials', title='Learn To Make Timelapse')
					button.span4.btn.btn-large.btn-info.third-btn.learnIcon
						img(src='images/learn.png', width='64', height='64', alt='Learn')
						div.footer-btntext
						| Learn to Make Time-lapse
			div.clearfix.footer.span12
				h5
					a(href='index.jade') UrbanTimelapse
			.modals