extends layout

block content
  .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
    .container-fluid
        .navbar-header.col-sm-3.col-md-3
          button.btn.dropdown-toggle.discover.navbar-toggle(type='button', data-toggle='dropdown')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          ul.dropdown-menu.col-xs-12(role='menu')
            ul.list-inline.sign
              li
                a.share(href='#', title='Share Timelapse Video')
                  span.glyphicon.glyphicon-cloud-upload(aria-hidden='true')
                  |Upload      
              //li.signup
                a.account-form(href='#', title="Sign Up") Sign Up
            li.divider
            li
              a(href='/tutorials') Timelapse Tutorials
            li
              a(href='#') Timelapse Tools
            li
              a(href='/about') About
            li.divider
            li
              a.share(href='#') Share Timelapse

          a.navbar-brand(rel-'home', href='/', title="Timelapse Videos of the World")
            img(style='max-width:170px; margin-top: -5px; margin-left: -7px;', src='images/TimelapsrLogo.png')
            // <small class="hidden-sm">Discover the World, share your story</small>         
        .col-sm-3.col-md-3.col-lg-3.pull-right.uploadSignUp
          .collapse.navbar-collapse
            ul.nav.navbar-nav.pull-right
              //
                <li class="facebook-icon"><a href="https://www.facebook.com/UrbanTimelapse">Facebook</a></li>
                <li><a  class="twitter-icon" href="https://twitter.com/UrbanTimelapse">Twitter</a></li>
              li
                a.share(href='#', title='Share Timelapse Video')
                  span.glyphicon.glyphicon-cloud-upload(aria-hidden='true')
                  |Upload      
              //li.signup
                a.account-form(href='#', title="Sign Up") Sign Up
          // /.nav-collapse
        .col-md-5.col-sm-5
          .row
             .btn-group.col-sm-3.col-sm-pull-1.hidden-xs
              button.btn.btn-default.dropdown-toggle.discover(type='button', data-toggle='dropdown')
                | Explore
                span.caret      
              ul.dropdown-menu(role='menu')
                li.nav
                  a(href='/tutorials') Timelapse Tutorials       
                li
                  a(href='#') Timelapse Tools        
                li.nav
                  a(href='/about', title='About UrbanTimelapse') About        
                li.divider        
                li
                  a.share(href='#') Share Timelapse  
             .search-form.col-sm-9.col-xs-12
               form(role='form')
                 input#search(type='search', placeholder='City or Country')          
          
  #content      
    h3.popular Popular Timelapse Videos 
    

  .banner-footer
    //.footer-btns
      a(href='/explore', title='Explore the World')
        button.span4.btn.btn-large.btn-primary.first-btn.exploreIcon
          div.footer-btntext
            | Explore the World
      a.share(href='home/share_form', title='Upload Timelapse')
        button.span4.btn.btn-large.btn-success.second-btn.shareIcon
          div.footer-btntext
            | Upload Timelapse
      a(href='/tutorials', title='Learn Timelapse Tricks')
        button.span4.btn.btn-large.btn-info.third-btn.learnIcon
          div.footer-btntext
            | Learn Timelapse Tricks
    div.footer
      h5
        a(href='/', title='Return to UrbanTimelapse Home Page') 
          img(style='max-width:170px; margin-top: -5px; margin-bottom: 10px', src='images/TimelapsrLogoDark.png')
    .modals
