extends layout

block content
	div#TL.container
		.navbar
			.navbar-inner
				#clouds.pull-left
					img(src='/images/clouds.gif', width="720", height="42", alt="Clouds image")
				ul.nav.pull-right
					li.fb
						a(href='http://www.facebook.com/UrbanTimelapse', title='Visit UrbanTimelapse Facebook Page', target='_blank')
							img.facebookIcon(src='/images/facebook.png', width='20', height='20', alt='Facebook Icon')
					li.twitter
						a(href='http://www.twitter.com/UrbanTimelapse', title='Visit UrbanTimelapse Twitter Page', target='_blank')
							img(src='/images/twitter.png', width='18', height='18', alt='Visit UrbanTimelapse Twitter Page')
					li.signu
						a.accountForm(href='', title="Sign Up") Sign Up
							
							
							
							
		#header
			.row
				.span5
					h1
						a(href='/')
							img(src='images/Logo.gif', width='325', height='112', alt='Urban Timelapse. Discover the World City by City Through The Lens of Timelapse Photography', title='Return to UrbanTimelapse Home Page')
				.cta-btns.span6.pull-right
					a.share.pull-right.button.btn.btn-large.btn-success.share-btn(href='search.html', title='Share Timelapse Video') Share Timelapse Video
					a.pull-right.button.btn.btn-large.btn-primary.explore-btn(href='/explore', title='Explore the world') Explore the World	
		ul.nav.nav-tabs
			.skyLine
				img(src='images/SkyLine1.png', width='778', height='34', alt='SkyLine1')
			li.nav
				a(href='/about', title='About UrbanTimelapse') About
			li.nav
					a(href='/tutorials', title='Learn Timelapse Tricks') Tutorials
					
					
					
		#content			
			h3 Featured Timelapse
			.videoWrapper
				iframe(src='http://player.vimeo.com/video/55945051?title=0&byline=0&color=ffffff', width='500', height='213', frameborder='0', webkitallowfullscreen='webkitAllowFullScreen', mozallowfullscreen='mozallowfullscreen', allowfullscreen='allowFullScreen')
				
			h3 Rio De Janeiro, Brazil
			h4 Population: 6 323 037. Age: 448 years old.
					
			h3.popular Popular Timelapse Videos
					
					
			
			#popular
				ul.thumbnails

					
		.banner-footer.row
			.footer-btns
				a(href='/explore', title='Explore the World')
					button.span4.btn.btn-large.btn-primary.first-btn.exploreIcon
						div.footer-btntext
							| Explore the World
				a.share(href='home/share_form', title='Upload Timelapse')
					button.span4.btn.btn-large.btn-success.second-btn.shareIcon
						div.footer-btntext
							| Upload Timelapse
				a(href='/tutorials', title='Learn Timelapse Tricks')
					button.span4.btn.btn-large.btn-info.third-btn.learnIcon
						div.footer-btntext
							| Learn Timelapse Tricks
			div.clearfix.footer.span12
				h5
					a(href='/index', title='Return to UrbanTimelapse Home Page') UrbanTimelapse
			.modals