doctype 5
html(xmlns:fb='http://ogp.me/ns/fb#')
	head
		!=css('bootstrap.css')
		!=css('ammap/main.css')
		!=css('main')
		
		title Urban Timelapse - Discover the World City by City
		meta(property='og:url', content='http://www.urbantimelapse.com/')
		meta(property='og:image', content='http://www.urbantimelapse.com/images/logo-web.png')
		meta(property='og:title', content='Urban Timelapse')
		meta(property='og:description', content='Discover the World City by City')
	body
		block content
		!= js('application')
		script(type='text/javascript', src="/templates.js")
		script(type='text/javascript', src='//maps.googleapis.com/maps/api/js?key=AIzaSyAv9gK2duniIzSeHlgVGe3MiwpKJP4j6RU&sensor=false')