doctype html
html(xmlns:fb='http://ogp.me/ns/fb#')
	head
		!=css('bootstrap.css')
		!=css('main')
		
		title Timelapsr - Timelapse Videos of The World
		meta(name='description', content='Discover the world city by city through the lens of timelapse photography... for creators, adventurers, and world travelers alike, Timelapsr is your door to discovery! Watch the most beautiful timelapse videos from the cities around the world.')
		meta(name='google-site-verification', content='rTQuQ3zclONu6jOQqn_6mfaePCUtDUmiM4OgSg5c1TU')
		meta(property='og:url', content='http://www.urbantimelapse.com/')
		meta(property='og:image', content='http://www.urbantimelapse.com/images/logo-web.png')
		meta(property='og:title', content='Urban Timelapse')
		meta(property='og:description', content='Timelapse Videos of The World')
		meta(name='viewport', content='width=device-width, initial-scale=1')

	body
		block content
		!= js('application')
		script(type='text/javascript', src="/templates.js")
		script(type='text/javascript', src='//maps.googleapis.com/maps/api/js?key=AIzaSyAv9gK2duniIzSeHlgVGe3MiwpKJP4j6RU&sensor=false')
