/* @import url('bootstrap.css');
@import url('ammap/main.css');*/
/****************
Header
****************/


#content {
  min-height: 912px;
}


a {
	color: #289BDE;
}


img {
	max-width:none !important;
} 
		
.navbar-inner {
  min-height: 40px;
  padding-right: 0px;
  padding-left: 20px;
  background-color: #ffffff;
	background-image: -webkit-linear-gradient(top,white,#FFF);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0);

  border: 0;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff', GradientType=0);
  *zoom: 1;

}

#clouds {
	margin-left: -25px;
}

.navbar {
	margin-bottom: -20px;
	margin-right: 2px;
}

.signup {
  margin-right: 2px;
}

.fb {
  margin-right: -11px;
}

#header {
	margin-bottom: -8px;
}

.cta-btns {
	margin-top: 63px;
}

.cta-btns a:first-child {
	margin-left: 25px;
}

.facebookIcon {
	margin: 0px 2px 2px 1px
}

/****************
Navigation
****************/

.nav li {
	float:right;
	padding-right: none;
}

.nav-tabs {
	border-bottom: 1px solid #99cccc;
	margin-top:20px;
}

.nav-tabs > .active > a{
	border-top:1px solid #9CC;
	border-right:1px solid #9CC;
	border-left:1px solid #9CC;
}

.skyLine {
	margin-bottom: -38px;
}

.nav {
	margin-bottom: 0px;
}


.explore-btn {
  background-image: url('/images/explore-btn.png');
  display:block;
  width: 147px;
 
}

.explore-btn:hover {
  background-color: #2486c6;
}

.share-btn {
  background-image: url('/images/share-btn.png');
  display:block;
  width: 188px;
  
}

/****************
Video Wrapper
****************/

.mapheader{
	text-align: center;
	margin-top: 7px;
}

.mapsubheadercountry {
	margin-top: -20px;
}

.mapsubheadersmall {
	margin-top: -15px;
}



.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.videoname {
  display: inline-block;
  margin-bottom: -5px;
}



.backToMap {
  float: right;
  margin-top: 20px;
  margin-right: 50px;
  text-decoration: none;
  font-size: 1.2em;
  }
  
a.backToMap {
  text-decoration: none;
}
  
.backToMap img {
  margin-bottom: 8px;
  margin-right: -45px;
  margin-left: 10px;
}

.about-aftervideo {
	border-bottom: 1px solid #99cccc;
	padding-bottom: 15px;
}

.video-page {
  min-height: 419px;
}
.border {
  border-bottom: 1px solid #99cccc;	
}



/****************
Share Form
****************/

input {
	width: 97%;
}

/*.share-form {
	color: #006fcc;
}*/



/****************
Footer
****************/





.first-btn {
  background-image: url('/images/explore-banner.png');
  display:block;
  width: 250px;
  height: 160px;
  margin-right: 75px;
  margin-left: 20px;
  border: 1px solid #bbbbbb;
  -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
      -o-transition: background-position 0.1s linear;
         transition: background-position 0.1s linear;
  background-color: #58b8e8;
  
}

.first-btn:hover {
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}


.first-btn img {
  opacity:0.8;
  filter:alpha(opacity=40); /* For IE8 and earlier */
}


.second-btn {
  background-image: url('/images/share-banner.png');
  display:block;
  width: 250px;
  height: 160px;
  margin-right: 75px;
  border: 1px solid #bbbbbb;
  -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
      -o-transition: background-position 0.1s linear;
         transition: background-position 0.1s linear;
  background-color: #92cb6c;
}

.second-btn:hover {
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.second-btn img {
  opacity:0.8;
  filter:alpha(opacity=40); /* For IE8 and earlier */
}

.third-btn {
  background-image: url('/images/learn-banner.png');
  display:block;
  width: 250px;
  height: 160px;
}

.third-btn:hover {
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.third-btn img {
  opacity:0.8;
  filter:alpha(opacity=40); /* For IE8 and earlier */
}

.footer-btntext {
	margin-top: 15px;
}

.btn {

}

/****************
Rest
****************/

.modal-body {
  background-color: #92cb6c;
}

/*.modal-header {
  background-color: #66bd58;
}*/

.modal-footer {
  background-color: #66bd58;
}
.popular {
	border-bottom: 1px solid #99cccc;
	margin-top: 40px;
	margin-bottom: 15px;
}

#popular {
	border-bottom: 1px solid #99cccc;
}

.about {
  background-color: #EFFFFF;
}

.about p {
  padding: 0px 10px;
}

.about h3 {
  padding: 0px 10px;
}

.footer-btns {
	margin-top: 0px;
}

.banner-footer {
	margin-top: 25px;
}

.footer-btntext {
  display: inline-block;
  margin-top: 100px;
}


.footer {
	text-align: center;
	margin: 25px;
	border-top: 1px solid #99cccc;
	margin-left: 20px;
}





.tutorials-headline {
	text-align: center;
	border-bottom: 1px solid #99cccc;
}




.tutorial-name {
	text-align: center;
	
}


.thumbnails {
	margin-top: 5px;
}

.thumbnail {
	position: relative;
	height: 225px;
}

.thumbnail img {
	height: 140px;
	
}



.thumbnail a {
	display: block;
}

.by {
  margin-top: 0px;
}

.thumbnail:hover .play_button {
	opacity: 1;
	bottom: 57%;
}

.thumbnail a .play_button {
	display: block;
	position: absolute;
	left: 36%;
	margin-top: -20px;
	opacity: 0;
}



.play_button {
cursor: pointer;
border-top: 1px solid rgba(255,255,255,0.5);
box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
background-color: #4EBDE5;
border-radius: 15px;
padding: 12px 22px;
color: white;
text-shadow: -1px -1px 1px rgba(0,0,0,0.3);
font-size: 15px;
display: inline-block;
-webkit-transition: all 0.1s ease-out;
-moz-transition: all 0.1s ease-out;
-o-transition: all 0.1s ease-out;
transition: all 0.1s ease-out;
}






/*.first-btn {
	height:150px;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
	margin-top: 20px;
	margin-bottom: 20px;
	}
.exploreIcon {
	margin-bottom: 10px;
}	
.second-btn {
	height:150px;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
	margin-top: 20px;
	margin-bottom: 20px;
}

.shareIcon {
	margin-bottom: 10px;
}

.third-btn {
	height:150px;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
	margin-top: 20px;
	margin-bottom: 20px;
}
.learnIcon {
	margin-bottom: 10px;
}

.footer-buttons:hover {
	background-color: #0044cc;
	-moz-box-shadow: rgba(0,0,0,0.4) 0 1px 2px 0,rgba(255,255,255,0.6) 0 1px 0 inset;
	-webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 2px 0,rgba(255, 255, 255, 0.6) 0 1px 0 inset;
	-o-box-shadow: rgba(0,0,0,0.4) 0 1px 2px 0,rgba(255,255,255,0.6) 0 1px 0 inset;
	box-shadow: rgba(0, 0, 0, 0.4) 0 1px 2px 0,rgba(255, 255, 255, 0.6) 0 1px 0 inset;
}*/


#mapdiv {
	width: 100%px;
	height: 600px; 
	background-color: #B7E5F9; 
	margin-top:10px;
	border-bottom: 1px solid #99cccc;
}

div#mapdiv{
	overflow: hidden;
	position: relative;
	text-align: left;
	width: 100%;
	height: 640px;
	margin-top: 15px;
}

#search {
	text-align: center;
	border-bottom: 1px solid #99cccc;
	padding-bottom: 10px;
}

.input{
	width: 275px;
	text-align: center;
	
	
}

.submit{
	margin-bottom: 11px;
}