@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

html {
  height: 100%;
}

body {
  padding-top: 50px; 
  background-color: #EFFFFE; 
  /*overflow-x: hidden;*/
}

input, textarea, select {
  -webkit-appearance: none;
}

#map {
  width: 100%;
  height: 500px;
}

.glyphicon {
  top: 1px;
  right: 3px;
}

.col-lg-3.thumbnails a > img {
  height: 160px;
}


.navbar-inverse {
background-color: #113053;
border: none;
}

.navbar-inverse .navbar-toggle {
  border-color: #8E9EDF;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: #8E9EDF;
}

.active {
  background-color: #8E9EDF;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
  color: #fff;
  background-color: #8E9EDF;
}

.navbar-inverse .navbar-brand {
  font-size: 1.8em;
  color: #FFF;
}

.fb-like-wrap {
  overflow: hidden;
}

/*.navbar-brand > small {
  font-size: 14px;
  text-align: left;
  display: block;
}*/

button.btn.btn-default.dropdown-toggle.discover, 
button.btn.btn-default.dropdown-toggle.discover:hover,
button.btn.btn-default.dropdown-toggle.discover:active,
button.btn.btn-default.dropdown-toggle.discover:focus {
  background-color: rgba(0,0,0,0);
  color: white;
  margin-top: 7px;
  font-size: 1.3em;
  border: none;
}

ul {
  list-style: none;
}

ul.dropdown-menu {
  background-color: rgba(17, 48, 83, 0.8);
  border-top: none;
  border-radius: none;
  margin: 0;
}

ul.dropdown-menu a{
  color: #FFF;  
}

.btn .caret {
  margin-left: 3px;
}

a.share {
  background-color: rgba(9, 177, 9, 1);
}

.modal-content {
  background-color: #113053;
  color: white;
  margin-top: 49px;
  opacity: 0.97;
}

div.modal-header>h3 {
  color: white;
}

.close {
  color: white;
}

label.control-label {
 font-size: 18px;
 font-weight: normal;
}

.col-sm-3.col-md-3.col-lg-3.pull-right.uploadSignUp {
  padding-left: 0px;
  padding-right: 10px;
}

.navbar-inverse .navbar-nav > li > a.share {
  color: #FFF;
}

.navbar-inverse .navbar-nav>li>a.share:hover, .navbar-inverse .navbar-nav>li>a.share:focus {
  color: ;
}

.dropdown-menu>li>a:hover {
  color: #FFF;
}

.navbar-inverse .navbar-nav>li>a.share {
  background-color: rgba(52, 58, 111, 1)
}

.navbar-inverse .navbar-nav>li>a.share:hover {
  background-color: rgba(0, 0, 0, 0);
}

.facebook-icon, .twitter-icon {
  text-indent: -9999px;
}

#map-canvas {
  height: 85%;
}

.search-form {
  display: inline-block;
}

#search {
    background: rgba(236, 244, 253, 1);
    font-size: 1.2em;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 5px 10px;
    margin-top: 8px;
    box-shadow: inset 0 2px 3px rgba( 0, 0, 0, 0.1 );
    clear: both;
    width: 100%;
}

#search:focus {
    background: #fff;
    outline: none;
}



/*------------------------------------
New Experiments
--------------------------------------*/

.navbar.navbar-inverse.navbar-fixed-top {
  text-align: center;
}

.toggle-button, .navbar-header {
  display: inline-block;
}

button.btn.dropdown-toggle.discover.navbar-toggle {
  float: left;
}

.search-form.col-xs-12 {
  padding-right: 0;
  padding-left: 0;
  margin: 0 0 5px 0;
}

.open > ul.dropdown-menu.col-xs-12 {
  display: block;
  position: fixed;
  top: 50px;
  padding-top: 60px;
  font-size: 1.4em;
}

a.account-form{
  padding: 3px 20px;
  font-size: 1em;
  background-color: rgba(51, 57, 124, 1);
}

.navbar-inverse .navbar-nav > li > a.account-form:hover, 
.navbar-inverse .navbar-nav > li > a.account-form:focus:hover {
  background-color: rgba(55, 63, 153, 1);
}

 a.share {
  background-color: #113053;
}

a.signup:hover {
  background-color: rgba(55, 63, 153, 1);
}

ul.dropdown-menu > ul.list-inline.sign {
  font-size: 1em;
  margin-left: 0;
}

.navbar-inverse .navbar-nav>li>a.signup {
  color: #FFF;
  border-radius: 0;
}

.navbar-inverse .navbar-nav>li>a.signup:hover {
  background-color: rgba(83, 91, 180, 1);
}





h2.heading {
  text-align: center;
  font-size: 1.9em;
  color: #113053;
  margin: 0px;
  padding: 10px;
}

.by {
  margin-top: 0px;
}

.thumbnails {
  padding: 0px;
}

.thumbnail {
  box-shadow: 0px 3px 5px 0px rgba(17, 48, 83, 0.8);
  border-radius: 0;
  position: relative;
}


.thumbnail a {
  text-align: center;
  text-decoration: none;
}

.thumbnail:hover .play_button {
  opacity: 1;
  background-color: rgba(78,189,229, 0.9);
  bottom: 62%;
}

.thumbnail:hover {
  opacity: 0.8;
}

.videoThumbnail {
  width: 100%;
  height: 145px;
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #000;
}

@media only screen and (max-width : 1200px) {
  .videoThumbnail {
    height: 160px;
  }
}

@media only screen and (max-width : 1200px) {
  .videoThumbnail {
    height: 160px;
  }
}

@media only screen and (max-width : 992px) {
  .videoThumbnail {
    height: 230px;
  }
}

@media only screen and (max-width : 930px) {
  .videoThumbnail {
    height: 180px;
  }
}

@media only screen and (max-width : 768px) {
  .videoThumbnail {
    height: 400px;
  }
  #search {
    width: 97%;
    margin-top: -5px;
  }
  .modal-content {
    margin-top: 85px;
  }
}

@media only screen and (max-width : 720px) {
  .videoThumbnail {
    height: 360px;
  }
}

@media only screen and (max-width : 680px) {
  .videoThumbnail {
    height: 330px;
  }
}

@media only screen and (max-width : 625px) {
  .videoThumbnail {
    height: 300px;
  }
}

@media only screen and (max-width : 570px) {
  .videoThumbnail {
    height: 270px;
  }
}

@media only screen and (max-width : 510px) {
  .videoThumbnail {
    height: 240px;
  }
}

@media only screen and (max-width : 467px) {
  .videoThumbnail {
    height: 210px;
  }
}

@media only screen and (max-width : 410px) {
  .videoThumbnail {
    height: 180px;
  }
}

.play_button {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  opacity: 1;
  bottom: 62%;
  cursor: pointer;
  border-top: 1px solid rgba(255,255,255,0.5);
  box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
  background-color: rgba(78,189,229, 0.5);
  border-radius: 15px;
  padding: 12px 22px;
  color: white;
  text-shadow: -1px -1px 1px rgba(0,0,0,0.3);
  font-size: 15px;
  display: inline-block;

}

.thumbnail h4 {
  color: rgb(17, 48, 83);
}

.videoWrapper {
  position: relative; 
  padding-bottom: 56.25%;
  height: 0; 
  overflow: hidden; 
  max-width: 100%;
}

.videoWrapper iframe, .videoWrapper object, .videoWrapper embed { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}

h3, h4 {
  color: #113053;
}

.videoSideBar .thumbnails {
  max-height: 700px;
  overflow-y: auto; 
}

@media only screen and (max-width : 991px) {
  .videoSideBar .thumbnails {
    max-height: none;
    overflow-y: none;
  }
}



h3.rel {
  margin-bottom: 38px;
}

@media only screen and (max-width : 1158px) {
  h3.rel {
    margin-bottom: 13px;
  }
}

@media only screen and (max-width : 768px) {
  div#mainvideo.col-sm-12.col-md-9 {
    margin-top: 50px;
  }
  #map {
  width: 100%;
  height: 400px;
}
}

.hero-wrapper.thumbnail {
  background-color: rgba(17, 48, 83, 0.8);
  border: none;
  position: absolute;
  top: 20%;
  border-radius: 3px;
}

.hero-wrapper.thumbnail:hover img {
  opacity: 1;
}

.hero-wrapper h3 {
  text-align: center;
  color: white;
  font-size: 1.3em;
  font-weight: 300;
  margin-top: 5px;
}

.explore-button {
  text-align: center;
  margin: 5px 0 5px;
}

.explore-button > a.btn-success {
  background-color: rgba(9, 177, 9, 1);
  border: none;
  font-size: 1.2em;
  width: 100%;
}

.explore-button > a.btn-success:hover {
  background-color: rgba(7, 148, 7, 1);
}


/*********************
ABOUT PAGE
*********************/

div.row.col-sm-10.col-sm-push-1.about-page {
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #fff;
  padding: 20px 30px;
  margin: 10px 0;
}

div.row.col-sm-10.col-sm-push-1.about-page h3 {
  margin-top: 0;
}

@media only screen and (max-width : 768px) {
  div.row.col-sm-10.col-sm-push-1.about-page {
    margin-top: 45px;
  }
}

/*********************
TUTORIALS PAGE
*********************/

div.row.col-sm-10.col-sm-push-1.tutorial-page {
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #fff;
  padding: 20px 30px;
  margin: 10px 0;
}

div.row.col-sm-10.col-sm-push-1.tutorial-page h3 {
  margin-top: 0;
}

@media only screen and (max-width : 768px) {
  div.row.col-sm-10.col-sm-push-1.tutorial-page {
    margin-top: 45px;
  }
}

/**********************
FOOTER
**********************/
div.footer {
  text-align: center;
}

