	<h2>Video That Inspired UrbanTimelapse.com</h2>
	<div class="videoWrapper">
		<iframe 	src="http://player.vimeo.com/video/48260767?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=ff9933" width="100%" height="auto" 
		frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
	</div>
	<h3>Smolensk City, Russia</h3>
	<h4>Population: 329,944. Age: 1249 yers old.</h4>
<p class="about-aftervideo">By <a href="http://vimeo.com/user13165795">SweetArt</a></p>

		 <div class="about"><h3>For curious, creators , adventurers.</h3>
		<div class="aboutText">
		 <p><a>UrbanTimelapse.com</a> is aimed to fulfill one's desire to get a taste of the city they are traveling to or their friends are from. It is a very unique and natural way to discover urban environments around our planet behind your screen.	</p> 
		<p>The Idea popped up  the moment Alexey  (founder) finished the timelapse video of his hometown (above) he randomly stumbled upon:</p>

		<p>"Seeing my city through the lens of timelapse photography felt mind blowing, hundreds of memories were brought up instantly. I discovered  a beautiful tool to help me tell where I from to people I meet around the globe.</p>
		<p>Digging deeper there's enormous community behind the vidoes consisting of pure enthusiasm and talent.  There's a wonderful chance to bring curious and creators together in one place and I'd like to give it a shot."</p> 
		<p>UrbanTimelapse lives in Prague currently since Alexey and his wife Marina relocated there recently. It heavily depends on support of good friends in San Francisco - without whom it would not be alive, thank you Andrew Shatnyy, Michael Makarov and Vasiliy Myazin!</p>
		<p>And thank you Amit Bijlani and <a>teamtreehouse.com</a> for kick staring the project.</p>
		</div>
		</div>
		<div class="border"></div>

