	<h3>The Inspiration</h3>
	<div class="videoWrapper">
		<iframe 	src="http://player.vimeo.com/video/48260767?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=ff9933" width="100%" height="auto" 
		frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
	</div>
	<h3>Smolensk City, Russia</h3>
	<h4>Population: 329,944. Age: 1249 years old.</h4>
<p class="about-aftervideo">By <a href="http://vimeo.com/user13165795" target="_blank">SweetArt</a></p>

		 <div class="about"><h3>For curious, creators, adventurers.</h3>
		 <p><a href="http://timelapse.herokuapp.com/" title="Go to UrbanTimelapse.com home page">UrbanTimelapse.com</a> is made to fulfill one's desire to discover the world, city by city. Get a sneak peek of your next travel destination, or check out your new friends' hometown with a unique and accessible hub made especially for those of us whose thirst for adventure is never quenched. </p> 
		<p>The idea came to life at the very moment founder, <a href="http://www.linkedin.com/in/alexeyladuda" title="Alexey's LinkedIn profile" target="_blank">Alexey Laduda</a> finished watching this very time-lapse video of his hometown (above). "Seeing my city through the lens of time-lapse photography felt mind blowing. Hundreds of memories were brought up instantly. I discovered a beautiful tool to help me show where I am from and discover places I wanted to go."</p>
		<p>Digging deeper, Alexey found an enormous community behind the videos. He thought, "There's a wonderful chance to bring curious and creators together in one place and I'd like to give it a shot."</p> 
		<p>UrbanTimelapse currently lives in Prague since Alexey and his wife, Marina, relocated there recently. A shout out to fellow discoverers <a href="http://www.linkedin.com/in/andrewshatnyy" title="Andrew's LinkedIn profile" target="_blank">Andrew Shatnyy</a>, <a href="http://www.linkedin.com/in/micmakarov" title="Michael's LinkedIn profile" target="_blank">Michael Makarov</a> and <a href="http://www.linkedin.com/in/vasilymyazin" title="Vasily's LinkedIn profile" target="_blank">Vasiliy Myazin</a> from San Francisco, for helping this dream come to life, Thank you!</p>
		<p>And a special thanks to Amit Bijlani and <a href="http://teamtreehouse.com/" title="Visit TeamTreehouse.com" target="_blank">TeamTreehouse.com</a> for help to kick start the project.</p>
		</div>
		<div class="border"></div>

