	<h2>Video That Inspired UrbanTimelapse.com</h2>
	<div class="videoWrapper">
		<iframe 	src="http://player.vimeo.com/video/48260767?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=ff9933" width="100%" height="auto" 
		frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
	</div>
	<h3>Smolensk City, Russia</h3>
	<h4>Population: 329,944. Age: 1249 years old.</h4>
<p class="about-aftervideo">By <a href="http://vimeo.com/user13165795" target="_blank">SweetArt</a></p>

		 <div class="about"><h3>For curious, creators, adventurers.</h3>
		 <p><a href="http://timelapse.herokuapp.com/" title="Go to UrbanTimelapse.com home page">UrbanTimelapse.com</a> is aimed to fulfill one's desire to get a taste of a city they are traveling to or their friends are from. It is a very unique and natural way to discover urban environments around our planet from behind your screen.	</p> 
		<p>The Idea popped up  the moment <a href="http://www.linkedin.com/in/alexeyladuda" title="Alexey's LinkedIn profile" target="_blank">Alexey</a>  (founder) finished the timelapse video of his hometown (above) he randomly stumbled upon:</p>

		<p>"Seeing my city through the lens of timelapse photography felt mind blowing, hundreds of memories were brought up instantly. I discovered  a beautiful tool to help me tell where I from to people I meet around the globe.</p>
		<p>Digging deeper there's enormous community behind the videos built upon pure talent and enthusiasm.  There's a wonderful chance to bring curious and creators together in one place and I'd like to give it a shot."</p> 
		<p>UrbanTimelapse lives in Prague currently since Alexey and his wife Marina relocated there recently. It heavily depends on support of good friends in San Francisco - without whom it would not be alive, thank you <a href="http://www.linkedin.com/in/andrewshatnyy" title="Andrew's LinkedIn profile" target="_blank">Andrew Shatnyy</a>, <a href="http://www.linkedin.com/in/micmakarov" title="Michael's LinkedIn profile" target="_blank">Michael Makarov</a> and <a href="http://www.linkedin.com/in/vasilymyazin" title="Vasily's LinkedIn profile" target="_blank">Vasiliy Myazin</a>!</p>
		<p>And thank you Amit Bijlani and <a href="http://teamtreehouse.com/" title="Visit TeamTreehouse.com" target="_blank">teamtreehouse.com</a> for help to kick start the project.</p>
		</div>
		<div class="border"></div>

