<div class="modal-dialog">
  <div class="modal-content">  
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h3>Share Time-lapse</h3>
	  </div>
	  <div class="modal-body">
			<form class="form-horizontal" role="form">
					<div class="control">
			    	<label class="control-label">Copy URL of a Video to Share from Vimeo or YouTube and Paste it Here</label>
			    	<div class="col-sm-10">
			    		<input type="text" name="url" placeholder="Paste URL Here">
			    	</div>
					</div>
					<div class="control">
						<label>Name of The City the Video is About</label>
						<input type="text" name="city_name" placeholder="City Name Goes Here">
					</div>
					<div class="control">
						<label>Name of The Country Where the City is Located</label>
						<label>Your E-mail</label>
			    	<input type="text" name="email" placeholder="Your e-mail Goes Here">
					</div>
			</form>
	  </div>
	  <div class="modal-footer">
			<button type="submit" class="btn btn-large btn-primary">Submit</button>
	  </div>
		</div>
</div>
