  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Share Time-lapse</h3>
  </div>
  <div class="modal-body">
		<form>
		  <fieldset>
		    <legend>Fill in The Form Below</legend>
		    <label>URL of Video You'd Like to Share from Vimeo or YouTube and Paste it Here</label>
		    <input type="text" name="url" placeholder="Paste URL Here">
				<label>Name of The City the Video is About</label>
		    <input type="text" name="city_name" placeholder="City Name Goes Here">
				<label>Name of The Country Where the City is Located</label>
		    <input type="text" name="country_name" placeholder="Country Name Goes Here">
				<label>Your E-mail</label>
		    <input type="text" name="email" placeholder="Your e-mail Goes Here">
		  </fieldset>
		</form>
  </div>
  <div class="modal-footer">
		<button type="submit" class="btn btn-block">Submit</button>
  </div>