


<h1 style="font-size: 25px;margin-bottom: 0;padding: 0;margin-top: 20px;text-align: center">Welcome to UrbanTimelapse.com</h1>
<div id="templateBody" class="bodyContent rounded6" style="-moz-border-radius: 6px;border-radius: 6px;-webkit-border-radius: 6px;line-height: 150%;font-family: Arial;font-size: 12px;color: #333333;padding: 20px;background-color: #ffffff;">
	
        
        
        
        
        

<div id="subscribeFormWelcome" ><div class="edit-content"><span style="font-size: 15px" class="tpl-content" id="tpl-content-signup_message">Hey there, welcome! We are working hard on emplementing user accounts so you can share your own time-lapse videos, get feedback, and follow your favorite photographers.<br>
If you'd like us to let you know when we are ready to have you join our family please fill out the form below. Yay!</span></div></div>
<div class="indicates-required" style="text-align: right;"><span class="asterisk" style="color: #cc6600;font-size: 150%;font-weight: bold;">*</span> indicates required</div>



<form action="http://herokuapp.us5.list-manage1.com/subscribe/post" method="POST">
<input type="hidden" name="u" value="2fc457120c16e344accbeb043" style="-webkit-appearance: none;">
<input type="hidden" name="id" value="e67ef1ff17" style="-webkit-appearance: none;">
<input type="hidden" name="orig-lang" value="1" style="-webkit-appearance: none;">

<div id="mergeTable" class="mergeTable dojoDndSource dojoDndTarget dojoDndContainer">


<div class="mergeRow dojoDndItem mergeRow-email" id="mergeRow-0" title="Click to select field then edit settings on right. Drag to reorder fields.">
<label for="MERGE0" style="float: none;clear: both;display: block;width: auto;margin-top: 8px;text-align: left;font-weight: bold;position: relative;line-height: 150%;font-family: Helvetica;font-size: 14px;color: #333333;"><strong>Email Address</strong> <span class="asterisk" style="color: #cc6600;position: absolute;top: 36px;right: 10px;font-size: 30px;">*</span></label>
<div class="field-group" style="float: none;margin: 3px 0 15px 0;padding: 5px;border-style: solid;background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .25));background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, rgba(255, 255, 255, 0)),color-stop(1, rgba(255, 255, 255, .25)));filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#3fffffff');-ms-filter: &quot;progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#3fffffff')&quot;;background-color: #eeeeee;border-width: 2px;border-color: #d0d0d0;">
    <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="" style="-webkit-appearance: none;display: block;margin: 0;padding: 5px;border: 0;background: none;width: 98%;font-family: Helvetica;font-size: 16px;color: #333333;">
    
    
</div>

</div>



<div class="mergeRow dojoDndItem mergeRow-text" id="mergeRow-1" title="Click to select field then edit settings on right. Drag to reorder fields.">
<label for="MERGE1" style="float: none;clear: both;display: block;width: auto;margin-top: 8px;text-align: left;font-weight: bold;position: relative;line-height: 150%;font-family: Helvetica;font-size: 14px;color: #333333;">First Name</label>
<div class="field-group" style="float: none;margin: 3px 0 15px 0;padding: 5px;border-style: solid;background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .25));background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, rgba(255, 255, 255, 0)),color-stop(1, rgba(255, 255, 255, .25)));filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#3fffffff');-ms-filter: &quot;progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#3fffffff')&quot;;background-color: #eeeeee;border-width: 2px;border-color: #d0d0d0;">
    <input type="text" name="MERGE1" id="MERGE1" size="25" value="" style="-webkit-appearance: none;display: block;margin: 0;padding: 5px;border: 0;background: none;width: 98%;font-family: Helvetica;font-size: 16px;color: #333333;">
    
    
</div>
</div>



<div class="mergeRow dojoDndItem mergeRow-text" id="mergeRow-2" title="Click to select field then edit settings on right. Drag to reorder fields.">
<label for="MERGE2" style="float: none;clear: both;display: block;width: auto;margin-top: 8px;text-align: left;font-weight: bold;position: relative;line-height: 150%;font-family: Helvetica;font-size: 14px;color: #333333;">Last Name</label>
<div class="field-group" style="float: none;margin: 3px 0 15px 0;padding: 5px;border-style: solid;background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .25));background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, rgba(255, 255, 255, 0)),color-stop(1, rgba(255, 255, 255, .25)));filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#3fffffff');-ms-filter: &quot;progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#3fffffff')&quot;;background-color: #eeeeee;border-width: 2px;border-color: #d0d0d0;">
    <input type="text" name="MERGE2" id="MERGE2" size="25" value="" style="-webkit-appearance: none;display: block;margin: 0;padding: 5px;border: 0;background: none;width: 98%;font-family: Helvetica;font-size: 16px;color: #333333;">
    
    
</div>


</div>





</div>


<br>

<div class="submit_container">
<input type="submit" class="button" name="submit" value="Subscribe to list" style="-webkit-appearance: none;display: inline-block;font-family: 'Helvetica', Arial, sans-serif;width: auto;white-space: nowrap;height: 32px;margin: 5px 5px 0 0;padding: 0 22px;text-decoration: none;text-align: center;font-weight: bold;font-style: normal;font-size: 15px;line-height: 32px;cursor: pointer;border: 0;-moz-border-radius: 4px;border-radius: 4px;-webkit-border-radius: 4px;vertical-align: top;background-color: #336699;color: #ffffff;">
</div>
</form>



		    </div>