<div  class="tutorials-headline">
	<h2>Learn to Make Your Own Time-lapse Videos</h2>
	<p>If there is a tutorial you'd like to share please <a href"#">Let Us Know</a> and we'll post it here.</p>
</div>

<h3 class="tutorial-name">Interval and Exposure Basics</h3>
<div class="videoWrapper">
	<iframe width="100%" height="auto" src="http://www.youtube.com/embed/W4SzZXLiyvk?rel=0" frameborder="0" 
	allowfullscreen></iframe> 
</div>
<h4>By <a href="http://www.youtube.com/user/LearnTimeLapse">LearnTimelapse</a></h4>
<p class="about-aftervideo"></p>

<h3 class="tutorial-name">Combating DSLR Time-lapse Flicker</h3>
<div class="videoWrapper">
	<iframe width="100%" height="auto" src="http://www.youtube.com/embed/U_MG_29OrKc?rel=0" frameborder="0" 
	allowfullscreen></iframe> 
</div>
<h4>By <a href="http://www.youtube.com/user/LearnTimeLapse">LearnTimelapse</a></h4>
<p class="about-aftervideo"></p>

<h3 class="tutorial-name">Tips for Tripods and Stability</h3>
<div class="videoWrapper">
	<iframe width="100%" height="auto" src="http://www.youtube.com/embed/gpnOlsd-Bxc?rel=0" frameborder="0" 
	allowfullscreen></iframe> 
</div>
<h4>By <a href="http://www.youtube.com/user/LearnTimeLapse">LearnTimelapse</a></h4>
<p class="about-aftervideo"></p>

<h3 class="tutorial-name">Assignment for Film Foundation class</h3>
<div class="videoWrapper">
	<iframe src="http://player.vimeo.com/video/29495824?badge=0" width="100%" height="auto" frameborder="0" 
	webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
</div>
<h4>By <a href="https://vimeo.com/felipeiguaran">Felipe Iguaran</a></h4>
<p class="about-aftervideo">Felipe Iguaran: "This is a small project I did for my Film Foundation class. It’s a time-lapse 
tutorial that was shot in Bogota, Colombia. Please pardon my voice as I got a cold".
Cameras:
Canon 5D MkII
Canon 60D
Lenses:
Canon L 24-105mm F4 
Sigma EX 18-50mm F2.8
Zeiss Plantar 18mm F1.4
Special thanks to La Guapa Films.
</p>
