<div class="container-fluid">
  <div class="row video-page"> 
    <div class="col-sm-12 col-md-9" id="mainvideo"></div><!--end main area--> 
    <!--to get thumbnail  http://vimeo.com/api/v2/video/ID_VIDEO.xml  -->
    <aside class="videoSideBar col-sm-12 col-md-3">
      <h3 class="rel">More Timelapse Videos</h3>
      <ul id="related" class="thumbnails"></ul>
    </aside>
  </div>
</div>


<div class="border"></div>

{{!-- scaledSize: new (google.maps.Size)(27, 18) --}}
