<div class="row video-page"> 
			<div class="span9" id="mainvideo"></div><!--end main area-->	
<!--to get thumbnail  http://vimeo.com/api/v2/video/ID_VIDEO.xml  -->
<aside class="span3">
<h3 class="rel">Related Videos</h3>
	<ul id="related" class="thumbnails"></ul>
</aside>
</div>
<div class="border"></div>

