		<div class="row video-page"> 
			<div class="span8">
				<h3 class="videoname">Moscow City, Russia</h3>
				<h4>Population: 11,733,501. Age: 865 years old.</h4>
				<div class="videoWrapper">
					<iframe width="100%" height="auto" src="http://www.youtube.com/embed/ZQhcJi3qiR0?rel=0" frameborder="0" 
					allowfullscreen=""></iframe>
				</div>
				<h5>Like   Share   Comment</h5>	
				<p>By zweizwei<br>
					Canon 5D Mark II<br>
					Canon 60D<br>
					tokina 11-16mm/2.8<br>
					sigma 24mm/1.8<br>
					canon 50mm/1.4<br>
					canon 70-200mm/4lis<br>
					NDx16, NDx1000, NDx2000, c-pl<br>
					music: Deadmau5 feat. Rob Swire - Ghosts'N'Stuff (Nero Remix) (OST The Art of Flight)
				</p>
			</div><!--end main area-->	
<!--to get thumbnail  http://vimeo.com/api/v2/video/ID_VIDEO.xml  -->
<aside class="span4">
<h3>Related Videos</h3>
<h5><br></h5>
	<ul class="thumbnails">
		<li class="span4">
	    <div class="thumbnail">
				<iframe width="100%" height="auto" src="http://www.youtube.com/embed/ZQhcJi3qiR0?rel=0" 
				frameborder="0" allowfullscreen=""></iframe>					      
				<h4>Moscow City, Russia</h4>
	      <p>By zweizwei</p>
	    </div>
	  </li>
		<li class="span4">
	    <div class="thumbnail">
				<iframe src="http://player.vimeo.com/video/48260767?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=ff9933" 
				width="100%" height="auto" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe> 
				 <h4>Smolensk City, Russia</h4>
	      <p>By <a href="http://vimeo.com/user13165795">SweetArt</a></p>
	    </div>
	  </li>
		<li class="span4">
	    <div class="thumbnail">
				<iframe src="http://player.vimeo.com/video/26049581?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=ff9933" width="100%" height="auto" 
				frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe> 					      		   
				<h4>Barcelona, Spain</h4>
	      <p>By <a href="http://vimeo.com/user7290128">Loyam</a></p>
	    </div>
	  </li>
	</ul>
</aside></div>
