<div class="row video-page"> 
			<div class="span9" id="mainvideo"></div><!--end main area-->	
<!--to get thumbnail  http://vimeo.com/api/v2/video/ID_VIDEO.xml  -->
<aside class="span3">
<h3>Related Videos</h3>
<h5><br></h5>
	<ul id="related" class="thumbnails"></ul>
</aside>
</div>
