<div class="thumbnail">
	<iframe width="100%" height="auto" src="http://www.youtube.com/embed/ZQhcJi3qiR0?rel=0" 
	frameborder="0" allowfullscreen=""></iframe>
	<h4>{{city_name}}, {{country_name}}</h4>
  <p>By {{author}}</p>
</div>